/* rem and em do not depend on html font-size in media queries! Instead, 1rem = 1em = 16px*/
/*************************************/
/*BELOW 944PX (Tablets) max-width: 59em means 944/16 = 59*/
/************************************/
@media (max-width: 59em) {
  .background-image {
    /* height: 37.5rem; */
    height: 30.66vh;
    width: 100%;
    
  }
  .todo-header {
    width: 52rem;
  }
  .todoSearch {
    width: 52rem;
  }
  .todoSearch  input {
    width: 52rem;
  }
  .todo-list-container {
    width: 52rem;
  }
} 


/*************************************/
/*BELOW 700PX (Tablets) max-width: 44em means 700/16 = 44*/
/************************************/
@media (max-width: 44em) {
  /* .background-image {
    /* height: 37.5rem; */
    .background-image {
      /* height: 37.5rem; */
      background-image: url("./images/bg-mobile-light.jpg");
      height: 30.66vh;
      width: 100%;
      
    }
    .night .background-image {
      background-image: url("./images/bg-mobile-dark.jpg");
    }
  .todo-header {
    width: 48rem;
  }
  .todoSearch {
    width: 48rem;
  }
  .todoSearch  input {
    width: 48rem;
  }
  .todo-list-container {
    width: 48rem;
  }
}  
/*************************************/
/*BELOW 375PX (Tablets) max-width: 34em means 550/16 = 34*/
/************************************/
@media (max-width: 34em) {
  .background-image {
    /* height: 37.5rem; */
    height: 30.66vh;
    width: 100%;
    background-image: url("./images/bg-mobile-light.jpg");
  }
  .night .background-image {
    background-image: url("./images/bg-mobile-dark.jpg");
  }
  .todo-header {
    width: 44rem;
  }
  .todoSearch {
    width: 44rem;
  }
  .todoSearch  input {
    width: 44rem;
  }
  .todo-list-container {
    width: 44rem;
  }
} 
/*************************************/
/*BELOW 1344PX (sMALLER DESKTOPS) */
/************************************/
@media (max-width: 31em) {
  .background-image {
    /* height: 37.5rem; */
    height: 30.66vh;
    background-image: url("./images/bg-mobile-light.jpg");
  }
  .night .background-image {
    background-image: url("./images/bg-mobile-dark.jpg");
  }
  .todo-header {
    width: 40rem;
  }
  .todoSearch {
    width: 40rem;
  }
  .todoSearch  input {
    width: 40rem;
  }
  .todo-list-container {
    width: 40rem;
  }
}





 /* FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
   - spacing system (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
